/* .ProductDetails .card {
  max-width: 540px;
  margin: 0 auto;
  height: auto;  
}

.ProductDetails .card-img-top {
  height: 300px; 
  object-fit: cover;
}

.ProductDetails .card-body {
  padding: 1rem;  
} */
