.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  padding: 30px;
  background-color: white;
  border-radius: 50%;
}

.openFly {
  display: flex;
}
.closeFly {
  display: none;
}

.cartBtn {
  transition: 0.5s ease-in;
  display: none;
}

.slides:hover .cartBtn {
  display: block;
}
.swiper-pagination {
  bottom: -20px !important;
}

.description::-webkit-scrollbar {
  display: none;
}

@media screen and(max-width:767px) {
  .serviece {
    flex-direction: column !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 10px !important;
    font-size: 15px;
    width: 30px !important;
    height: 30px !important;
  }
}
